<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Password Generator</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Generated password</h2>
            <pre class="{% if error -%}text-danger{%- endif %}">{{ password }}</pre>
        </div>

        <div class="col-md-6">
            <h2>New password</h2>

            <form action="/" method="get" role="form">
                <div class="form-group"><label>Symbols: <input type=text name="symbols" value="{{ symbols }}" class="form-control" title="{{ symbols_help }}"></label> </div>
                <div class="form-group"><label>Patterns: <input type=text name="patterns" value="{{ patterns }}" class="form-control" title="{{ patterns_help }}"></label> </div>
                <div class="form-group"><label>Max length: <input type=number name=max_length value="{{ max_length }}" class="form-control" title="{{ maxlength_help }}"></label></div>
                <input type=submit value=Generate class="btn btn-default">
            </form>
        </div>
    </div>
</div>
</body>
</html>