<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Password Generator</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>Generated password</h2>
            <pre id= "generated-password" class="{% if error -%}text-danger{%- endif %}" onclick="selectText('generated-password')">{{ password }}</pre>
            <p><a href="https://en.wikipedia.org/wiki/Password_strength#Entropy_as_a_measure_of_password_strength">Entropy</a>: {{ entropy | round(2) }} bits</p>
        </div>

        <div class="col-md-8">
            <h2>New password</h2>

            <form action="/set-options" method="post" role="form">
                <div class="form-group"><label for="symbols">Symbols:</label><input type=text name="symbols" id="symbols" value="{{ symbols }}" class="form-control" title="{{ symbols_help }}"></div>
                <div class="form-group"><label for="patterns">Patterns:</label><input type=text name="patterns" id="patterns" value="{{ patterns }}" class="form-control" title="{{ patterns_help }}"></div>
                <div class="form-group"><label for="max_length">Max length:</label><input type=number name="max_length" id="max_length" value="{{ max_length }}" class="form-control" title="{{ maxlength_help }}"></div>
                <input type=submit value=Generate class="btn btn-default">
            </form>
            <form action="/reset-options" method="post" role="form">
                <input type=submit value=Reset class="btn btn-default">
            </form>
        </div>
    </div>
</div>
<a href="https://github.com/brunns/passgen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</body>
</html>