<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <h1>Password Generator</h1>
    </div>

    <div class="container">
    <form action="/" method="get" role="form">
        <div class="form-group"><label>Symbols: <input type=text name=symbols value="{{ symbols }}" class="form-control"></label></div>
        <div class="form-group"><label>Pattern: <input type=text name=pattern value="{{ pattern }}" class="form-control"></label></div>
        <div class="form-group"><label>Max length: <input type=number name=max_length value="{{ max_length }}" class="form-control"></label></div>
        <input type=submit value=Generate class="btn btn-default">
    </form>
    </div>

    <div class="container">
        <p>Generated password: {{ password }}</p>
    </div>
</body>
</html>